# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/workshops/toapantam/unit1/WS07FromUMLToCod/ChickenFarmer/nbproject/private/
/workshops/toapantam/unit1/WS07FromUMLToCod/ChickenFarmer/build/
/workshops/toapantam/unit1/New Folder/AntSimulator/nbproject/private/
/workshops/toapantam/unit1/New Folder/AntSimulator/build/
/workshops/toapantam/unit1/New Folder/MyWayCodeProject/nbproject/private/
/workshops/toapantam/unit1/New Folder/MyWayCodeProject/build/
/workshops/toapantam/unit1/New Folder/Exam code/nbproject/private/
