
<div class="col-md-4 mx-auto">
    <div class="card card-body">
        <form action="/cars/addCar" method="POST">

            <div class="form-group">
                <input type="text" name="brand" class="form-control" placeholder="Brand Car" autofocus required>
            </div>
            <div class="form-group">
                <input type="text" name="model" class="form-control" placeholder="Model Car" required>
            </div>
            <div class="form-group">
                <input type="number" name="year" class="form-control" placeholder="Year Car" >
            </div>
            <div class="form-group">
                <input type="number" name="price" class="form-control" placeholder="Price Car" >
            </div>
            <div class="form-group">
                <input type="text" name="color" class="form-control" placeholder="Color Car" >
            </div>
            <div class="form-group">
                <input type="number" name="passagerCapacity" class="form-control" placeholder="Passager Capacity Car" >
            </div>
            <div class="form-group">
                <input type="text" name="fuelType" class="form-control" placeholder="Fuel Type Car" >
            </div>
            <div class="form-group">
                <input type="text" name="fuelCapacity" class="form-control" placeholder="Fuel Capacity Car" >
            </div>
            <button type="submit" class="btn btn-secondary btn-block">
                save
            </button>
        </form>
    </div>
</div>